{%if values[4][0] == 'GOLD'%}
                                      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Goldfiles/gold4.css')}}">

                        {%if (values[4][1]) == 'IV'%}
<img src="{{url_for('static', filename='Goldfiles/Gold4.png')}}" alt="">
                        {%endif%}
                        {%if values[4][1] == 'III'%}
<img src="{{url_for('static', filename='Goldfiles/Gold3.png')}}" alt="">
                        {%endif%}

                        {%if values[4][1] == 'II'%}
<img src="{{url_for('static', filename='Goldfiles/Gold2.png')}}" alt="">
                        {%endif%}

                        {%if values[4][1] == 'I'%}
<img src="{{url_for('static', filename='Goldfiles/Gold1.png')}}" alt="">

                        {%endif%}
{%endif%}