{%if values[4][0] == 'PLATINUM'%}
                  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Platinumfiles/platinum4.css')}}">

                        {%if (values[4][1]) == 'IV'%}
<img src="{{url_for('static', filename='Platinumfiles/Platinum4.png')}}" alt="">

                        {%endif%}
                        {%if values[4][1] == 'III'%}
<img src="{{url_for('static', filename='Platinumfiles/Platinum3.png')}}" alt="">

                        {%endif%}

                        {%if values[4][1] == 'II'%}
<img src="{{url_for('static', filename='Platinumfiles/Platinum2.png')}}" alt="">

                        {%endif%}

                        {%if values[4][1] == 'I'%}
<img src="{{url_for('static', filename='Platinumfiles/Platinum1.png')}}" alt="">

                        {%endif%}
{%endif%}