

<div class = "row">
            <div class = "col-md-4">
            </div>
            <div id = "centercolumn" class = "col-md-4 style=text-align: center;">
                <div id = 'tft_metadata'>
                <h1>Ranked TFT</h1>
                <h1 id = 'name'>{{values[2]}}</h1>
                    {%if values[4] == 'Unranked'%}
                    <h1 id = 'rank'>{{values[4]}}</h1>
                    <img src="{{url_for('static', filename='Unranked.png')}}" alt="">
                    {%else%}
                    <h1 id = rankandtier>{{values[4][0] + " " + values[4][1] + ":"}} {{values[4][2]}} {{" LP"}}</h1>


                     {%include 'ranked_tft_htmls/platinum.html'%}
                     {%include 'ranked_tft_htmls/silver.html'%}
                     {%include 'ranked_tft_htmls/gold.html'%}
                     {%include 'ranked_tft_htmls/diamond.html'%}
                     {%include 'ranked_tft_htmls/challenger.html'%}
                     {%include 'ranked_tft_htmls/master.html'%}
                     {%include 'ranked_tft_htmls/bronze.html'%}
                     {%include 'ranked_tft_htmls/iron.html'%}
                     {%include 'ranked_tft_htmls/grandmaster.html'%}

                    <h2 id = 'wins'>{{"wins:"}} {{values[4][3]}}</h2>
                    <h2 id = 'losses'>{{"losses:"}} {{values[4][4]}}</h2>
                    <h2 id = 'percentage'>{{"percentage:"}} {{values[4][5]}}{{"%"}}</h2>
                    {%endif%}

                </div>


            </div>
        </div>