{% extends "commonlayout2.html"%}

{%block content%}
<div class="carousel-item active">
    {% include 'ranked_solo_htmls/ranked_solo_carousel_panel1.html'%}


    </div>
    <div class="carousel-item">
    {% include 'ranked_5v5s_htmls/ranked_5v5flex_carousel_panel2.html'%}

    </div>
      <div class="carousel-item">
          {% include 'ranked_ttreeline_htmls/ranked_TTflex_carousel_panel3.html'%}
    </div>


        <div class="carousel-item">
                      {% include 'ranked_tft_htmls/ranked_tft_panel4.html'%}

        </div>
{% endblock content%}




