{%if values[3][0] == 'DIAMOND'%}
                  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='diamond3.css')}}">

                        {%if (values[3][1]) == 'IV'%}
<img src="{{url_for('static', filename='Diamond4.png')}}" alt="">
                        {%endif%}
                        {%if values[3][1] == 'III'%}
<img src="{{url_for('static', filename='Diamond3.png')}}" alt="">
                        {%endif%}

                        {%if values[3][1] == 'II'%}
<img src="{{url_for('static', filename='Diamond2.png')}}" alt="">
                        {%endif%}

                        {%if values[3][1] == 'I'%}
<img src="{{url_for('static', filename='Diamond1.png')}}" alt="">
                        {%endif%}
{%endif%}