{%if values[3][0] == 'MASTER'%}
                  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='master3.css')}}">

                        {%if (values[3][1]) == 'IV'%}
<img src="{{url_for('static', filename='Masters4.png')}}" alt="">
                        {%endif%}
                        {%if values[3][1] == 'III'%}
<img src="{{url_for('static', filename='Masters3.png')}}" alt="">
                        {%endif%}

                        {%if values[3][1] == 'II'%}
<img src="{{url_for('static', filename='Masters2.png')}}" alt="">
                        {%endif%}

                        {%if values[3][1] == 'I'%}
<img src="{{url_for('static', filename='Masters1.png')}}" alt="">

                        {%endif%}
{%endif%}