

<div class = "row">
            <div class = "col-md-4">
            </div>
            <div id = "centercolumn" class = "col-md-4 style=text-align: center;">
                <div id = 'rank_5v5_metadata'>
                <h1>Ranked Flex 5v5</h1>
                <h1 id = 'name'>{{values[2]}}</h1>
                    {%if values[1] == 'Unranked'%}
                    <h1 id = 'rank'>{{values[1]}}</h1>
                    <img src="{{url_for('static', filename='Unranked.png')}}" alt="">
                    {%else%}
                    <h1 id = rankandtier>{{values[1][0] + " " + values[1][1] + ":"}} {{values[1][2]}} {{" LP"}}</h1>


                     {%include 'platinum2.html'%}
                     {%include 'silver2.html'%}
                     {%include 'gold2.html'%}
                     {%include 'diamond2.html'%}
                     {%include 'challenger2.html'%}
                     {%include 'master2.html'%}
                     {%include 'bronze2.html'%}
                     {%include 'iron2.html'%}
                     {%include 'grandmaster2.html'%}

                    <h2 id = 'wins'>{{"wins:"}} {{values[1][3]}}</h2>
                    <h2 id = 'losses'>{{"losses:"}} {{values[1][4]}}</h2>
                    <h2 id = 'percentage'>{{"percentage:"}} {{values[1][5]}}{{"%"}}</h2>
                    {%endif%}

                </div>


            </div>
        </div>